.log-container {
  position: fixed;
  font-size: 14px;
  right: 30px;
  top: 29%;
  transform: translateY(-50%);
  width: 100%;
  max-width: 150px;
  height: auto;
  max-height: 80vh;
  overflow-y: auto;
  background-color: #ffffff;
  z-index: 5;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 10px;
  transition: opacity 0.3s ease; /* Smooth transition for visibility */
  display: grid; /* เปลี่ยนจาก display ปกติเป็น grid */
  grid-template-rows: auto; /* กำหนดรูปแบบของแถวให้เป็น auto */
}

.log-container.hidden {
  opacity: 0;
  pointer-events: none; /* Prevent interactions when hidden */
}

.log-container.visible {
  opacity: 1;
  pointer-events: auto; /* Enable interactions when visible */
}
